body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(82, 195, 26);
    padding: 30px 0; /* Adjusted padding */
}

#closeBtn {
    background-color: black;
    color: white;
    border: none;  
    cursor: pointer;
    margin-bottom: 15px; /* Adjusted margin */
}

#itemimage {
    margin: 15px; /* Adjusted margin */
}

button {
    width: 15%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    font-size: 30px;
    background-color: white;
    margin-top: 15px; /* Adjusted margin */
}

img {
    width: 30%;
    margin-bottom: 15px; /* Adjusted margin */
}

#result {
    font-size: 18px;
    color: white;
    margin-top: 15px; /* Adjusted margin */
}

p {
    font-size: 30px;
    color: white;
    margin-bottom: 15px; /* Adjusted margin */
}
